<h1>User</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<%= render :partial =>"contact_list", :locals=>{:contacts=>Contact.find_all_by_user_id(@user.id)} %>

<%= render :partial =>"new_contact", :locals=>{:contact=>Contact.new (:user_id =>@user.id )} %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
