<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @email.description %>
</p>

<p>
  <b>Value:</b>
  <%= @email.value %>
</p>



<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', contact_path(Contact.find_by_id(@email.contact_id))  %>
